<div class="movie-container">

  <div class="header">
    <div class="logo">
      <p>
        <a href="/movies">A-List</a>
      </p>
    </div>
    <div class="logout">
      <p>
        <a href="/logout">Logout</a>
      </p>
    </div>
  </div>

  <div class="movie-sidebar">

    <h1>Your movies</h1>

    <form action="/movies?genre=<%= @selected_genre %>&status=<%= @selected_status %>" method="”post”">
      <p>
        <label for="selected_genre">Genre:</label>
      </p>
      <select name="selected_genre" id="selected_genre">
        <option value="All">
          All</option>
        <option value="Action">
          Action</option>
        <option value="Adventure">
          Adventure</option>
        <option value="Comedy">
          Comedy</option>
        <option value="Documentary">
          Documentary</option>
        <option value="Drama">
          Drama</option>
        <option value="Horror">
          Horror</option>
        <option value="Musical">
          Musical</option>
        <option value="Romantic_Comedy">
          Romantic Comedy</option>
        <option value="Suspense">
          Suspense</option>
      </select>

      <p>
        <label for="selected_status">Status:</label>
      </p>
      <p>
        <select name="selected_status" id="selected_status">
          <option value="All">All</option>
          <option value="Watched">Watched</option>
          <option value="Unwatched">Unwatched</option>
        </select>
      </p>
      <button type="”submit”" value="Submit">Submit</button>
    </form>

  </div>

  <div class="movie-content">

    <p class="flash_message">
      <% if flash.has?(:message) %>
        <%= flash[:message] %>
      <% end %>
    </p>

    <form action="/movies/new" method="get">
      <p>
        <button type="submit" value="Add Movie">Add Movie</button>
      </p>
    </form>

    <% if @user.movies.empty? %>
      <p>
        You have no movies saved yet. Click the 'add movie' button to add a movie to your watchlist.
      </p>

      <% elsif @selected_genre == "All" %>
        <ul style="list-style: none;">
          <% @user.movies.each do |movie| %>
            <li>
              <a href="/movies/<%= movie.slug %>"><%= movie.title %></a>
            </li>
          <% end %>
        </ul>

      <% else %>
        <ul style="list-style: none;">
          <% @user.movies.each do |movie| %>
            <li>
              <a href="/movies/<%= movie.slug %>"><%= movie.title %>
                <% if @selected_genre == movie.genre %>
              </a>
            </li>
          <% end %>
                 <% end %>
        </ul>
      <% end %>
    </div>

  </div>
