<div class="movie-container">

  <div class="header">
    <div class="logo">
      <p>
        <a href="/movies">A-List</a>
      </p>
    </div>
    <div class="logout">
      <p>
        <a href="/logout">Logout</a>
      </p>
    </div>
  </div>

  <div class="movie-sidebar">

    <h1 class="your_movies">Your movies</h1>

    <form action="/movies?genre=<%= @selected_genre %>&status=<%= @selected_status %>" method="get">
      <p>
        <label for="selected_genre">Genre</label>
      </p>
      <select name="selected_genre" id="selected_genre">
        <option value="All">
          All</option>
        <option value="Action" <%=selected="selected" if @selected_genre == "Action" %>>
          Action</option>
        <option value="Adventure" <%=selected="selected" if @selected_genre == "Adventure" %>>
          Adventure</option>
        <option value="Comedy" <%=selected="selected" if @selected_genre == "Comedy" %>>
          Comedy</option>
        <option value="Documentary" <%=selected="selected" if @selected_genre == "Documentary" %>>
          Documentary</option>
        <option value="Drama" <%=selected="selected" if @selected_genre == "Drama" %>>
          Drama</option>
        <option value="Horror" <%=selected="selected" if @selected_genre == "Horror" %>>
          Horror</option>
        <option value="Musical" <%=selected="selected" if @selected_genre == "Musical" %>>
          Musical</option>
        <option value="Romantic_Comedy" <%=selected="selected" if @selected_genre == "Romantic_Comedy" %>>
          Romantic Comedy</option>
        <option value="Suspense" <%=selected="selected" if @selected_genre == "Suspense" %>>
          Suspense</option>
      </select>

      <p>
        <label for="selected_status">Status</label>
      </p>
      <p>
        <select name="selected_status" id="selected_status">
          <option value="All">All</option>
          <option value=1 <%=selected="selected" if @selected_status == "1" %>>Watched</option>
          <option value=0 <%=selected="selected" if @selected_status == "0" %>>Unwatched</option>
        </select>
      </p>
      <button class="grey" type="submit" value="Submit">Apply Filters</button>
    </form>

    <form action="/movies/new" method="get">
      <p>
        <button class="top" type="submit" value="Add Movie">Add Movie</button>
      </p>
    </form>

  </div>

  <div class="movie-content">

    <p class="flash_message">
      <% if flash.has?(:message) %>
        <%= flash[:message] %>
      <% end %>
    </p>



    <p>
          <% @movies.each do |movie| %>
            <li>
              <a href="/movies/<%= movie.slug %>"><%= movie.title %></a>
            </li>
          <% end %>
        </ul>
    </p>

    </div>

  </div>
