<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%= @movie.title %></h1>
<p>Notes: <%= @movie.notes %></p>
<p>Genre: <%= @movie.genre%></p>
<p>Status: <% if @movie.watched == 1 %>
    <%= "Watched"%>
  <% else %>
    <%= "Unwatched"%>
  <% end %>
</p>

<form action="/movies/<%= @movie.slug %>/edit" method="get">
  <p><button type="button" value="Edit Movie">Edit Movie</p>
</form>

<form action="/movies/<%= @movie.slug %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <p><button type="submit" value="Delete Movie">Delete Movie</p>
</form>

<form action="/movies" method="get">
  <p><button type="button" value="Back to All Movies">Back to All Movies</p>
</form>
